{{ template "partials/header.html" . }}

<body class="guide">
  <div class="container-fluid header">
    <div class="container">
      {{ if eq .Title "3Di Styleguide" }}
      <h1>3Di Styleguide</h1>
      {{ else }}
      <h2>3Di Styleguide</h2>
      {{ end }}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>&nbsp;</h5>
      </div>      
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-2 menu">
        {{ template "partials/menu.html" . }}
      </div>
      <div class="col-md-10">
        {{ .Content }}
      </div>        
    </div>
  </div>


{{ template "partials/footer.html" . }}