  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5>&nbsp;</h5>
      </div>      
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h5 class="pull-right">2015 / <a href="http://www.nelen-schuurmans.nl/" target="_blank">Nelen &amp; Schuurmans</a></h5>
      </div>      
    </div>
  </div>   
  {{ template "partials/footer_includes.html" . }}
  {{ template "partials/extra_js.html" . }}
  </body>
</html>
