
<div class="docnav hidden-sm hidden-xs">

	<a href="{{ .Site.BaseURL }}" class="truncate block small spacing"><i class="fa fa-home"></i>&nbsp;Home</a>

	<span class="truncate block small strong spacing">Cartografie</span>
	<!-- <a href="{{ .Site.BaseURL }}guide/carto/" class="truncate block small {{ if eq .Title "Algemeen" }}underline{{ end }}">Algemeen</a> -->
	<a href="{{ .Site.BaseURL }}guide/carto/objecten/" class="truncate block small {{ if eq .Title "Objecten" }}underline{{ end }}">Objecten</a>
	<a href="{{ .Site.BaseURL }}guide/carto/lijnen/" class="truncate block small {{ if eq .Title "Lijnen" }}underline{{ end }}">Lijnen</a>
	<a href="{{ .Site.BaseURL }}guide/carto/vlakken/" class="truncate block small {{ if eq .Title "Vlakken" }}underline{{ end }}">Vlakken</a>
	<a href="{{ .Site.BaseURL }}guide/carto/legenda/" class="truncate block small {{ if eq .Title "Legenda" }}underline{{ end }}">Legenda</a>

	<span class="truncate block small strong spacing">User Interface</span>
	<!-- <a href="{{ .Site.BaseURL }}guide/ui/" class="truncate block small {{ if eq .Title "UI" }}underline{{ end }}">Algemeen</a> -->
	<a href="{{ .Site.BaseURL }}guide/ui/beheerpaginas/" class="truncate block small {{ if eq .Title "Beheerpaginas" }}underline{{ end }}">Beheerpagina's</a>
	<a href="{{ .Site.BaseURL }}guide/ui/navigatie/" class="truncate block small {{ if eq .Title "Navigatie" }}underline{{ end }}">Navigatie</a>
	<a href="{{ .Site.BaseURL }}guide/ui/modelcontrols/" class="truncate block small {{ if eq .Title "Modelcontrols" }}underline{{ end }}">Model controls</a>
	<a href="{{ .Site.BaseURL }}guide/ui/kaartcontrols/" class="truncate block small {{ if eq .Title "Kaartcontrols" }}underline{{ end }}">Kaart controls</a>
	<a href="{{ .Site.BaseURL }}guide/ui/notificaties/" class="truncate block small {{ if eq .Title "Notificaties" }}underline{{ end }}">Notificaties</a>
	<a href="{{ .Site.BaseURL }}guide/ui/indicators/" class="truncate block small {{ if eq .Title "Indicators" }}underline{{ end }}">Voortgangindicatie</a>
	<a href="{{ .Site.BaseURL }}guide/ui/contextmenu/" class="truncate block small {{ if eq .Title "Contextmenu" }}underline{{ end }}">Contextmenu's</a>
	<a href="{{ .Site.BaseURL }}guide/ui/grafieken/" class="truncate block small {{ if eq .Title "Grafieken" }}underline{{ end }}">Grafieken</a>
	<a href="{{ .Site.BaseURL }}guide/ui/modals/" class="truncate block small {{ if eq .Title "Modals" }}underline{{ end }}">Modals</a>

	<span class="truncate block small strong spacing">Grafisch</span>
	<!-- <a href="{{ .Site.BaseURL }}guide/visual/" class="truncate block small {{ if eq .Title "Grafisch" }}underline{{ end }}">Algemeen</a> -->
	<a href="{{ .Site.BaseURL }}guide/visual/typografie/" class="truncate block small {{ if eq .Title "Typografie" }}underline{{ end }}">Typografie</a>
	<a href="{{ .Site.BaseURL }}guide/visual/kleur/" class="truncate block small {{ if eq .Title "Kleur" }}underline{{ end }}">Kleurstelling</a>
	<a href="{{ .Site.BaseURL }}guide/visual/witruimte/" class="truncate block small {{ if eq .Title "Witruimte" }}underline{{ end }}">Witruimte</a>
	<a href="{{ .Site.BaseURL }}guide/visual/iconen/" class="truncate block small {{ if eq .Title "Iconografie" }}underline{{ end }}">Iconografie</a>
	<a href="{{ .Site.BaseURL }}guide/visual/logo/" class="truncate block small {{ if eq .Title "Logo" }}underline{{ end }}">Logo</a>

</div>


<!--
<aside>
    <div id="sidebar" class="nav-collapse">
        <ul class="sidebar-menu">
          {{ $currentNode := . }}
          {{ range .Site.Menus.main }}
              {{ if .HasChildren }}

            <li class="sub-menu{{if $currentNode.HasMenuCurrent "main" . }} active{{end}}">
            <a href="javascript:;" class="">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                {{ range .Children }}
                <li{{if $currentNode.IsMenuCurrent "main" . }} class="active"{{end}}><a href="{{.URL}}"> {{ .Name }} </a> </li>
                {{ end }}
            </ul>
          {{else}}
            <li>
            <a class="" href="{{.URL}}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
            </a>
          {{end}}
          </li>
          {{end}}
        </ul>

    </div>
</aside>
-->
