{{ template "partials/header.html" . }}

  <body class="frontpage">
    <div class="container-fluid header">
      <div class="container">
        <h1>Pagina niet gevonden...</h1>
        <div class="col-md-6">
          <p class="lead">
            Sorry, de pagina die je zoekt bestaat niet, niet meer of nog niet...
          </p>   
          <!-- <button class="btn btn-lg btn-primary">Bekijk documentatie</button> -->
          <a href="guide/"><button class="btn btn-lg btn-default">Bekijk de styleguide</button></a>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs banner-background">
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h5>&nbsp;</h5>
        </div>      
      </div>
    </div>



{{ template "partials/footer.html" . }}